:root {
    --primeira: #264653;
    --segunda: #2a9d8f;
    --terceira: #e9c46a;
    --quarta: #f4a261;
    --quinta: #e76f51;

    --primeiraHover: #335F70;
    --segundaHover: #33C1B1;
    --terceiraHover: #EFD595;
    --quartaHover: #F7BC8D;
    --quintaHover: #EE9781;

    --numberFontColor: #EDF6F9;

    --basicButtonShadow: 2px 5px 1px rgba(0, 0, 0, 0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease;
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: var(--primeira);
}

#corpo {
    border: none;
    min-width: 290px;
    max-width: 320px;
    height: auto;
    padding: 10px 0 50px;
    background: var(--primeira);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

#tela {
    width: 90%;
    border-radius: 7px;
    background: white;
    display: flex;
    margin: 15px auto 0;
    height: 90px;
    flex-direction: column;
}

#current_number_display, #current_operation_display {
    font-size: 25px;
    width: 100%;
    height: 50%;
    border: none;
    padding: 0 0 0 10px;
    font-family: 'Hina Mincho', serif;
    border-radius: inherit;
}

#teclado {
    width: 90%;
    margin: 35px auto 0;
    display: grid;
    grid-auto-rows: auto;
    height: calc(100% - 100px);
    border-radius: 4px;
    padding: 10px 5px;
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0.3);
}

.row {
    display: flex;
}

.row:last-of-type {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.button {
    flex-grow: 1;
    font-size: 18px;
    flex-basis: 20px;
    color: whitesmoke;
    font-weight: 700;
    margin: 7px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.operador:not(button[value='C']) {
    background-color: var(--terceira);
    box-shadow: var(--basicButtonShadow);
    color: var(--primeira);
}

.operador:not(button[value='C']):hover {
    background-color: var(--terceiraHover);
}

.btn_num {
    background-color: var(--segunda);
    box-shadow: var(--basicButtonShadow);
    color: var(--numberFontColor);

}


.btn_num:hover {
    background-color: var(--segundaHover);
}

#apagar, #igual {
    background-color: var(--quarta);
    box-shadow: var(--basicButtonShadow);
    color: white;
}

#apagar:hover, #igual:hover {
    background-color: var(--quartaHover);
}

#igual {
    max-width: calc(50% - 15px);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: var(--quarta);
    box-shadow: var(--basicButtonShadow);
    cursor: pointer;
}

button[value='C'] {
    background-color: var(--quinta);
    box-shadow: var(--basicButtonShadow);
}

button[value='C']:hover {
    background-color: var(--quintaHover);
}

#theme_button_wrapper {
    background: white;
    width: 50px;
    max-height: 20px;
    border: none;
}

#theme_button {
    width: 20px;
    height: 30px;
    border-radius: 0;
    border: solid 1px black;
    transform: translateY(-15%);
    background: var(--quarta);
    position: relative;
    transition: left 0.5s, right 0.5s;
    right: calc(100% - 20px);
    left: 0%;
}


